.App{
  
}
input{
  border: none;
  padding-left: 5px;
  height: 25px;
  border-radius: 5px;
}
li{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: aliceblue;
  /* background-color: bisque; */
}
a{
  text-decoration: none;
  color: black;
}